@using MarqueeMatchups.Core.Games;
<div class="matches-list">
    <div class="table-responsive">
        <table class="table table-striped table-hover">
            <tbody>
                @if(Items != null && Items.Count > 0)
                {
                    @foreach (var item in Items)
                    {
                        <GamesListViewItem Item="item"></GamesListViewItem>
                    }
                }
                else
                {
                    <tr>
                        <td>Data hasn't been loaded, please wait or refresh the page.'</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@code {
    [Parameter]
    public ICollection<Game> Items { get; set; } = new List<Game>();
}