<footer>
    <div class="row">
        <div class="col-md-8 mx-auto">
            <div id="footer-menu">
                <ul class="nav justify-content-center flex-column flex-md-row">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Privacy Policy</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contact</a>
                    </li>

                </ul>
            </div>
            <p>
                &copy; Marquee Matchups. All Rights Reserved.
            </p>

        </div>
    </div>
</footer>