<header>
    <div class="row">
        <div class="col-md-8 mx-auto">
            <div class="title-frame">
                <a href="/">
                    <h1>Marquee Matchups</h1>
                </a>
            </div>

        </div>
    </div>
</header>

<style>

</style>