@page "/"
@page "/games"
@page "/games/{sportName?}"
@using MarqueeMatchups.Core.Games;

<PageTitle>Marquee Matchups - Game Picks for You!</PageTitle>

@inject IGameRepository gamesRepository

<div class="matches-list">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <NavLink Match="NavLinkMatch.All" class="nav-link" aria-current="page" href="/games/football">Football</NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink Match="NavLinkMatch.All" class="nav-link" href="/games/basketball">Basketball</NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink Match="NavLinkMatch.All" class="nav-link" href="/games/baseball">Baseball</NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink Match="NavLinkMatch.All" class="nav-link" href="/games/icehockey">Ice Hockey</NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink Match="NavLinkMatch.All" class="nav-link" href="/games/tennis">Tennis</NavLink>
                    </li>
                </ul>
    
            </div>
        </div>
    </nav>
        <div class="date-selector">
            <div class="row date-nav text-center">
                <div class="col">
                    <a href="#"> . </a>
                </div>
                <div class="col">
                    <p style="margin:0;padding:0;text-transform: uppercase;text-decoration: underline;">
                        <span class="d-none d-md-inline">
                            Current 
                        </span>
                        <span>
                            Schedule
                        </span>
                    </p>
                </div>
                <div class="col">
                    <a href="#">
                        .
                    </a>
                </div>
            </div>
        </div>
        <div>
        <MarqueeMatchups.Blazor.Pages.Games.GamesListView.GamesListView Items="games"></MarqueeMatchups.Blazor.Pages.Games.GamesListView.GamesListView>
        <p>
            <small>We try to keep kick off times as accurate as possible, however, in some cases they may change.</small>
        </p>
    </div>
       
</div>


@code {
    [Parameter]
    public string? SportName { get; set; }

    private ICollection<Game> games;

    protected override async Task OnParametersSetAsync()
    {
        SportValues identifier = SportValues.Football;
        object? parsedIdentifier;
        if (SportName != null)
        {
            if (Enum.TryParse(typeof(SportValues), SportName, true,out parsedIdentifier))
            {
                if(parsedIdentifier != null)
                {
                    identifier = (SportValues)parsedIdentifier;
                }
            }
            else
            {
                throw new Exception("invalid page");
            }

        }
        games = await gamesRepository.GetFutureGamesBySportAsync(identifier);
        this.StateHasChanged();
    }
}

        <style>
    .date-nav {
        a

    {
        text-decoration: none;
    }

    }
        </style>